@keyframes move-in {
  0% {
    top: 30%;
    left: 30%; }
  100% {
    top: 50%;
    left: 50%; } }

@keyframes ferry {
  0%,
  100% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-15deg); }
  75% {
    transform: rotate(15deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  background-color: #eee;
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  position: fixed;
  width: 100%;
  height: 100%; }

.card {
  display: none;
  width: 300px;
  height: 450px;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-top: -225px;
  margin-left: -150px;
  transform-origin: 50% 600px; }
  .card.move-in {
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
    top: 50%;
    left: 50%;
    display: block; }
  .card.flip .card__side {
    transform: rotateY(-180deg); }
  .card.ferry {
    animation: ferry 4s ease-in-out 0s infinite; }
  .card__side {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0.5rem 0.8rem 2rem rgba(0, 0, 0, 0.015);
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transition: transform 3s ease; }
    .card__side--front, .card__side--back {
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .card__side--front {
      background-image: linear-gradient(to top left, #0a5d66, #72b6bd); }
    .card__side--back {
      background-color: #fff;
      transform: rotateY(180deg); }
  .card__cover-left {
    opacity: 0;
    z-index: 2;
    text-align: left;
    position: absolute;
    top: -120px;
    left: 0;
    padding-top: 40px;
    height: 75px;
    width: 100%;
    color: #fff;
    background-color: #2929618c;
    padding-left: 10px; }
    .card__cover-left::before {
      content: "";
      position: absolute;
      top: 75px;
      left: 0;
      border-style: solid;
      height: 0;
      border-width: 20px 169px 20px 169px;
      border-color: #2929618c #2929618c transparent transparent; }
  .card__cover-right {
    opacity: 0;
    z-index: 2;
    text-align: right;
    position: absolute;
    top: -120px;
    left: 0;
    padding-top: 40px;
    height: 75px;
    width: 100%;
    color: #fff;
    background-color: #4a27618c;
    padding-right: 10px; }
    .card__cover-right::before {
      content: "";
      position: absolute;
      top: 75px;
      left: 0;
      border-style: solid;
      height: 0;
      border-width: 20px 169px 20px 169px;
      border-color: #4a27618c  transparent transparent #4a27618c; }
  .card__logo {
    font-size: 20rem;
    color: #b89595;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__pad {
    height: 100%;
    width: 100%;
    position: relative; }
  .card__img-box {
    height: 50%;
    max-height: 225px;
    width: 100%;
    overflow: hidden;
    position: relative; }
  .card__img {
    width: 100%;
    height: auto;
    background-position: bottom;
    position: absolute;
    bottom: 0; }
  .card__text-box {
    position: absolute;
    top: 40%;
    left: 8%;
    width: 50vw;
    max-width: 169px;
    height: 33vh;
    max-height: 250px;
    background-color: #7765368f;
    color: #fff;
    padding: 1rem; }
  .card__title {
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 1rem; }
  .card__story {
    margin-bottom: .5rem; }
  .card__list {
    position: absolute;
    top: 60%;
    left: 72%;
    list-style: none; }
  .card__item {
    margin-bottom: 2rem;
    color: #776536; }
  .card__toggle {
    display: none; }
  .card__price {
    display: none; }
  .card__link, .card__link:visited, .card__link:link {
    text-decoration: none;
    color: #776536; }
  .card__music {
    display: none; }

input[type=checkbox] {
  display: none; }
