.card{
    display: none; // test;
    //之後要根據不同手機尺寸切不同的 css size
    // width: 80vw;
    // max-width: 337.5px;// max-width: 33.8rem; //? 為什麼我的1rem不是10px？
    // height: 60vh;
    // max-height: 450px; // max-height: 45rem;
    width: 300px;
    height: 450px;
    border-radius: 5px;
    overflow: hidden;

     // FUNCTIONALITY
    background-color: transparent;//green; //test
    perspective: 450rem;
    -moz-perspective: 450rem;

    //取代寫的absCenter 寫法
    position: absolute;
    top:0%;
    left:0%;
    // top:50%;// test
    // left:50%; //test
    margin-top: -225px; 
    margin-left: -150px;
    // @include absCenter;
    transform-origin: 50% 600px;
    backface-visibility: hidden;

    &:last-child{
        box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.15);
      }
    &.move-in{
        -webkit-transition: 0.5s ease-out;
        -moz-transition: 0.5s ease-out;
        -ms-transition: 0.5s ease-out;
        -o-transition: 0.5s ease-out;
        transition: 0.5s ease-out;
        top:50%;
        left:50%;
        display: block;
    }

    &.flip &__side{
        transition: 1s ease-out;
        transform: rotateY(180deg);        
    }

    &.ferry{
        //動畫的做法
        // transform-origin: 50% 600px;// 參考 http://caibaojian.com/css3-animate-spin.html
        animation: ferry 4s ease-in-out 0s infinite;
        // animation-fill-mode: backwards
    }

    &__side{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        // overflow: hidden;

        position: absolute;
        top:0;
        left: 0;

        transform-style: preserve-3d;
        transition: transform 3s ease;
        
        &--front,
        &--back{
            position: absolute;
            height: 100%;
            width: 100%;
           -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        &--front{
            // transform: rotateY(180deg);           
            background-image: linear-gradient(to top left, $brown, $brown);
        }
        &--back{
            background-color: #fff;
            transform: rotateY(180deg);
        }
    }

    &__cover{
        opacity: 0;
        z-index: 2;
        // text-align: left;//right
        position: absolute;
        top: -120px;
        left: 0;
        padding-top: 40px;
        height: 75px;
        width: 100%;
        color: #fff;
        // background-color: #2929618c; //#4a27618c
        padding-left: 10px;
        transition: all 0.5s;

        &::before{
            content: "";
            position: absolute;
            top: 75px;
            left: 0;
            border-style:  solid;
            height: 0;
            border-width: 20px 169px 20px 169px;
            border-color: #2929618c transparent transparent #2929618c;
        }

        &--left{
            text-align: left;
            background-color: #2929618c;
            &::before{
                border-color: #2929618c transparent transparent #2929618c;
            }
        }
        &--right{
            text-align: right;
            background-color: #4a27618c;
            &::before{
                border-color: #4a27618c #4a27618c transparent transparent;
            }
        }
    }

    .show--right .card__cover{
        &:first-child{
            top: -120px;
            opacity: 0;
        }
        &:last-child{
            top: 0px;
            opacity: 1;
        }
    }
    .show--left .card__cover{
        &:first-child{
            top: 0px;
            opacity: 1;
        }
        &:last-child{
            top: -120px;
            opacity: 0;
        }
    }

    &__logo{
        font-size: 20rem;
        color: $light-beige;
        @include absCenter;
    }
   
    &__pad{
        height: 100%;
        width: 100%;
        position: relative;
    }
    &__img-box{
        height: 50%;
        max-height: 225px;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    &__img{
        width: 100%;
        // width: 337.5px;
        height: auto;
        background-position: bottom;
        position: absolute;
        bottom:0;
    }
    &__text-box{
        position: absolute;
        top: 40%;
        left: 8%;
        width: 50vw;
        max-width: 169px;
        height: 33vh;
        max-height: 250px;
        background-color: #7765368f;
        color: #fff;
        padding: 1rem;
    }
    &__title{
        font-size: 2.4rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    &__story{
        margin-bottom: .5rem;        
    }
    &__list{
        position: absolute;
        top:60%;
        left: 72%;
        list-style: none;
    }
    &__item{
        margin-bottom: 2rem;
        color: #776536;
    }
    &__toggle{
        display: none;
    } 
    &__price{
        display: none;
    }
    &__link,
    {
        &,
        &:visited,
        &:link{
            text-decoration: none;
            color: #776536;
        }
    }
    &__music{
        display: none;
    }
}



input[type=checkbox]{
    display: none;
}


