@keyframes move-in{
    0%{
        top:30%;
        left:30%;
    }
    100%{
        top:50%;
        left:50%;
    }
}

@keyframes ferry{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    75%{
        transform: rotate(15deg);
    }  
    // 100%{
    //     transform: rotate(3deg);  
    // }  
}