*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    background-color: #f3f0eb;//test
    // font-size: 10px;
    font-size: 62.5%; // 1rem = 10px default fontSizd:16px 10/16=0.625
}

body{
    box-sizing: border-box;
    overflow: hidden;
}